body{ background-color: #f4f4f4;
    font-family:arial,sans-serif;
    margin: 20px;}
    h1{color:rgba(48, 230, 2, 0.904);text-align: center;}
    h2{color: #14d424;}
    p{font-size: 16px;line-height: 1.5;}
    a{text-decoration: none;color: rgba(144, 4, 238, 0.918);margin-right: 15px;}
    a:hover{color:rgba(255, 0, 0, 0.932)}
    ul{background-color: rgba(34, 190, 60, 0.863);padding:10px ;}
    li{margin-bottom: 5px;}
    img{border-radius: 10px;margin-top: 10px;}
    section{background-color: rgb(233, 229, 14);padding: 15px;margin-bottom: 20px;border-radius: 5px;}
    .highlight{
        color: rgb(99, 201, 4);
        font-weight: bold;
    }
    